.modalOverlayConfirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.4s ease;
    z-index: 9999;
}

.modalContentConfirm {
    background: #ffffff; /* Verde elegante */
    padding: 25px 20px;
    border-radius: 12px;
    text-align: center;
    position: relative;
    width: 340px;
    max-width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.5s ease forwards;
}

.closeButtonConfirm {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    font-size: 20px;
    color: white;
    background: #17b85a;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.closeButtonConfirm:hover {
    background: #219150;
}

.messageConfirm {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
    animation: fadeInText 1s ease;
}

.modalFooterConfirm {
    margin-top: 20px;
}

.buttonConfirm, .buttonCancelConfirm {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 75px;
}

.buttonConfirm {
    background-color: #17b85a;
    color: white;
}

.buttonConfirm:hover {
    background-color: #219150;
}

.buttonCancelConfirm {
    background-color: #947c7a;
    color: white;
}

.buttonCancelConfirm:hover {
    background-color: #d32f2f;
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeInText {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Responsividade */
@media (max-width: 600px) {
    .modalContentConfirm {
        width: 85%;
        padding: 20px;
    }

    .messageConfirm {
        font-size: 20px;
    }
}
